/* NAVIGATION SECTION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
}
.navbar-button {
  background-color: var(--nav-button);
}
.navbar-button:hover {
  background-color: var(--nav-button-hover);
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
  transition: all 0.3s;
}
.menu a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--text-light);
}

/* Hero section  */
.button-container {
  display: flex;
  gap: var(--spacing-md);
  margin: var(--spacing-md) 0;
}
.button-container button:nth-of-type(2) {
  color: var(--purple-2);
}
.hero p {
  max-width: var(--hero-paragraph);
}

.hero .hero-phone-container {
  height: 56.4rem;
  height: var(--hero-phone-container-height);

  align-items: flex-end;
}

.hero-phone {
  height: var(--hero-phone-height);
  transform: translate(5rem, -3.2rem);
}
/* Partners section  */

.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: var(--spacing-xl) 0;

  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

.partners-grid img {
  height: 6rem;
  place-self: center;
}

/* Unified platform section  */
.unified-platform-section {
  padding: var(--spacing-xl) 0;
}
.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}
.unified-platform-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}
.unified-platform-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/* Graphic grid section  */
.graphic-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dashboard dashboard";
  gap: var(--spacing-lg);
  padding: var(--spacing-lg) 0;
}

#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#dashboard {
  grid-area: dashboard;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

/* Integration section  */

.integration-section {
  color: var(--text-light);

  background-color: var(--primary-accent);
}

.integration-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.integration-section .card-container .card {
  width: 50%;
}

.integration-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin-top: var(--spacing-md);
}
.integration-section .primary-button:hover {
  background-color: var(--bg-white);
}
.integration-section .secondary-button {
  color: var(--blue-1);
}
#api-code {
  max-width: 47rem;
  margin-bottom: var(--spacing-md);
  border-radius: 20px;
}
#terminal-code {
  max-width: 47rem;
  border-radius: 20px;
}
