/* NAVIGATION SECTION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
}
.navbar-button {
  background-color: var(--nav-button);
}
.navbar-button:hover {
  background-color: var(--nav-button-hover);
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
  transition: all 0.3s;
}
.menu a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--text-light);
}

/* Hero section  */
.button-container {
  display: flex;
  gap: var(--spacing-md);
  margin: var(--spacing-md) 0;
}
.button-container button:nth-of-type(2) {
  color: var(--purple-2);
}
.hero p {
  max-width: var(--hero-paragraph);
}

.hero .hero-phone-container {
  height: 56.4rem;
  height: var(--hero-phone-container-height);

  align-items: flex-end;
}

.hero-phone {
  height: var(--hero-phone-height);
  transform: translate(5rem, -3.2rem);
}
/* Partners section  */

.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: var(--spacing-xl) 0;

  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

.partners-grid img {
  height: 6rem;
  place-self: center;
}
